<div class="container mt-5">
  <button (click)="logFormValue()">Log form value</button>

  <button (click)="addQuestion()">add question</button>
  <hr />

  <form [formGroup]="quiz" (ngSubmit)="logFormValue()">
    <div
      class="mb-3"
      formArrayName="questions"
      *ngFor="
        let question of questionsControl.controls;
        let questionIndex = index
      "
    >
      <!-- <button class="mb-2" (click)="addAnswer(questionIndex)">
        add answer
      </button> -->

      <button
        class="mb-2"
        [disabled]="$any(questionsControl.length) <= 1"
        (click)="removeQuestion(questionIndex)"
      >
        remove question
      </button>
      <!-- <div *ngIf="quiz.invalid">{{ "need at least 1 correct answer" }}</div> -->

      <!-- <h3>Q{{ questionIndex + 1 }}</h3> -->

      <div [formGroupName]="questionIndex">
        <mat-form-field>
          <mat-label>Question type</mat-label>
          <mat-select
            formControlName="type"
            (selectionChange)="onQuestionTypeChange($event, question)"
          >
            <mat-option *ngFor="let type of questionTypes" [value]="type.value">
              {{ type.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />

        <div [ngSwitch]="question.value.type">
          <ng-container *ngSwitchCase="'single'">
            <app-multiple-choice
              [question]="$any(question)"
              [questionIndex]="questionIndex"
            ></app-multiple-choice>
          </ng-container>
          <ng-container *ngSwitchCase="'multiple'">
            <app-multiple-choice
              [question]="$any(question)"
              [questionIndex]="questionIndex"
            ></app-multiple-choice>
          </ng-container>
          <ng-container *ngSwitchCase="'fill'">
            <app-short-answer
              [question]="$any(question)"
              [questionIndex]="questionIndex"
            ></app-short-answer>
          </ng-container>
          <ng-container *ngSwitchCase="'upload'">
            <app-file-upload></app-file-upload>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <app-multiple-choice
              [question]="$any(question)"
              [questionIndex]="questionIndex"
            ></app-multiple-choice>
          </ng-container>
        </div>

        <!-- <input formControlName="content" placeholder="Question content" />
        <div
          formArrayName="answers"
          *ngFor="
            let answer of $any($any(question) | control: 'answers');
            let i = index
          "
        >
          <div [formGroupName]="i">
            <input formControlName="label" placeholder="label" />
            <mat-checkbox
              formControlName="isCorrect"
              (change)="validateCorrectAnswer($event, question, i)"
              >is correct</mat-checkbox
            >

            <button
              class="mb-2"
              [disabled]="$any(question.get('answers')).length <= 1"
              (click)="removeAnswer(i, question)"
            >
              remove answer
            </button>
          </div>
        </div> -->
      </div>
    </div>
  </form>
</div>
